form.new-task {
  position: relative;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  width: 500px;
}

form.new-task > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px;
}

form.new-task > div > input[type="text"] {
  font-size: 15px;
  width: 100%;
  font-weight: bolder;
  border: 2px solid black;
  padding: 15px;
}

form.new-task > div > input {
  width: 200px;
  height: 24px;
}

.finished-input-section {
  flex-direction: row !important;
  column-gap: 12px;
}


.finished-input-section > input {
  width: 20px !important;
  height: 20px !important;
}

.create-task {
  width: 120px;
  height: 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-task:hover {
  background-color: black;
  color: white
}

